<a href="https://colab.research.google.com/github/DeokwonWang/Content_Recommend_algorithm/blob/main/Netfilx_recommendation_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**NLP 및 SIGMOID를 사용한 Netflix 영화 / 시리즈 추천 시스템**

이 프로젝트에서 저는 넷플릭스와 같은 추천 시스템을 구축하려고했습니다.

경험을 개인화하려면 이미 평가 한 프로그램 / 영화에 따라 별도의 추천 기능을 추가 할 수 있도록 사용자 데이터와 사용자 ID가 필요합니다.

우리가 제공하는 추천은 영화 장르의 유사성을 기반으로 할 것입니다. 영화의 출연진이나 영화 감독을 기반으로 할 수도 있습니다.

{{국가는 어느 국가에서 가져온 콘텐츠인지 명시}}

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# 모든 데이터 프레임을 읽고 복제
df=pd.read_excel(r"/content/drive/MyDrive/content_recommendation_data/netflix_titles.xlsx")
df1=df
df2=df
df3=df
df4=df
df5=df
df6=df
df7=df
df8=df
df9=df
df10=df
df11=df
df.head(2)

                                     title  ...                                        description
0  Norm of the North: King Sized Adventure  ...  Before planning an awesome wedding for his gra...
1               Jandino: Whatever it Takes  ...  Jandino Asporaat riffs on the challenges of ra...

[2 rows x 11 columns]

In [ ]:
#사용자로부터 입력 받기
k=input("Movie/show name from Netflix: ")

Movie/show name from Netflix: Good People

먼저 장르별로 영화를 배포하겠습니다.

**여기서 우리는 NLP를 사용하여 유형의 문장이 아닌 벡터를 만듭니다.**

In [ ]:
#nan이 NLP를 방해하지 않도록 nan 값을 공백으로 대체
df = df.replace(np.nan, '', regex=True)

In [ ]:
df.head(20)

                                                title  ...                                        description
0             Norm of the North: King Sized Adventure  ...  Before planning an awesome wedding for his gra...
1                          Jandino: Whatever it Takes  ...  Jandino Asporaat riffs on the challenges of ra...
2                                  Transformers Prime  ...  With the help of three human allies, the Autob...
3                    Transformers: Robots in Disguise  ...  When a prison ship crash unleashes hundreds of...
4                                        #realityhigh  ...  When nerdy high schooler Dani finally attracts...
5                                             Apaches  ...  A young journalist is forced into a life of cr...
6                                            Automata  ...  In a dystopian future, an insurance adjuster f...
7                  Fabrizio Copano: Solo pienso en mi  ...  Fabrizio Copano takes audience participation t...
8                                        Fire Chasers  ...  As California's 2016 fire season rages, brave ...
9                                         Good People  ...  A struggling couple can't believe their luck w...
10                      JoaquÃ­n Reyes: Una y no mÃ¡s  ...  Comedian and celebrity impersonator JoaquÃ­n R...
11                            Kidnapping Mr. Heineken  ...  When beer magnate Alfred "Freddy" Heineken is ...
12                           Krish Trish and Baltiboy  ...  A team of minstrels, including a monkey, cat a...
13           Krish Trish and Baltiboy: Battle of Wits  ...  An artisan is cheated of his payment, a lion o...
14     Krish Trish and Baltiboy: Best Friends Forever  ...  A cat, monkey and donkey team up to narrate fo...
15          Krish Trish and Baltiboy: Comics of India  ...  In three comic-strip-style tales, a boy tries ...
16  Krish Trish and Baltiboy: Oversmartness Never ...  ...  A cat, monkey and donkey learn the consequence...
17                  Krish Trish and Baltiboy: Part II  ...  Animal minstrels narrate stories about a monke...
18       Krish Trish and Baltiboy: The Greatest Trick  ...  The consequences of trickery are explored in s...
19                                               Love  ...  A man in an unsatisfying marriage recalls the ...

[20 rows x 11 columns]

In [ ]:
#NLP가 적용될 수 있도록 데이터를 문자열 형식으로 변환
df['release_year'] = df['release_year'].astype(str)
df['duration'] = df['duration'].astype(str)
df['date_added'] = df['date_added'].astype(str)

**CASE 1**

사례 1 {모든 CLUMNS- TITLE, TYPE, DIRECTOR, CAST, COUNTRY, DATE_ADDED, RELEASE_YEAR, RATING, DURATION, LISTED_IN, DESCRIPTION}

In [ ]:
#모든 열에서 공백으로 구분 된 문자열을 추가하여 새 열 만들기
df["model1"] = df["type"] +" "+ df["director"]+" "+ df["cast"]+" "+ df["country"]+" "+ df["release_year"]+" "+ df["rating"]+" "+ df["duration"]+" "+ df["listed_in"]+" "+ df["description"]

In [ ]:
#title 및 model1 열 가져 오기
df=df.iloc[:,[0,11]]
df.head(2)

                                     title                                             model1
0  Norm of the North: King Sized Adventure  Movie Richard Finn, Tim Maltby Alan Marriott, ...
1               Jandino: Whatever it Takes  Movie  Jandino Asporaat United Kingdom 2016 TV...

In [ ]:
#NLP
#sklearn lib에서. 모듈 및 가져온 클래스
# 우리는 문장을 가져다가 벡터로 변환하여 그것을 찾아서 추론 할 수 있습니다.
# 반복되는 단어
#tfidf는 문장에서 문서 매트릭스를 만드는 데 도움이되는 기술입니다.


from sklearn.feature_extraction.text import TfidfVectorizer

#ngram_range 1-3은 우리가 3 개의 다른 단어의 조합을 취하고있는 것처럼 영어 단어를 중단한다는 것을 의미합니다.
# (1, 1)의 ngram_range는 유니 그램만을 의미하고, (1, 2)는 유니 그램과 바이그램을 의미합니다.
#and (2, 2)는 bigrams만을 의미합니다. 분석기를 호출 할 수없는 경우에만 적용됩니다.

#max_features 매개 변수-None이 아니라면 말뭉치에서 용어 빈도로 정렬 된 상위 max_features 만 고려하는 어휘를 작성하십시오.
# 어휘가 None이 아니면이 매개 변수는 무시됩니다.

#min dif 어휘를 작성할 때 문서 빈도가 주어진 임계 값보다 엄격하게 낮은 용어를 무시합니다.
#이 값은 문헌에서 컷오프라고도합니다. float 인 경우 매개 변수는 문서의 비율을 나타냅니다.
#integer 절대 카운트. 어휘가 없음이 아닌 경우이 매개 변수는 무시됩니다.

#strip_accents {‘ascii’,‘unicode’, None} (기본값 = None)
# 전처리 단계에서 악센트를 제거하고 다른 문자 정규화를 수행합니다.
#‘ascii’는 직접적인 ASCII 매핑이있는 문자에서만 작동하는 빠른 방법입니다.
#‘unicode’는 모든 문자에서 작동하는 약간 느린 방법입니다. 없음 (기본값)은 아무것도하지 않습니다.


#analyzerstr, {‘word’,‘char’,‘char_wb’} 또는 호출 가능
# 기능이 단어 또는 문자 n- 그램으로 구성되어야하는지 여부.
#Option‘char_wb’는 단어 경계 내의 텍스트에서만 문자 n-gram을 만듭니다. n-grams at
# 단어의 가장자리는 공백으로 채워집니다.
# 콜 러블이 전달되면 처리되지 않은 원시 입력에서 기능 시퀀스를 추출하는 데 사용됩니다.

#token_patternstr
# "토큰"을 구성하는 것을 나타내는 정규 표현식, 분석기 == '단어'인 경우에만 사용됩니다.
# 기본 정규식은 2 개 이상의 영숫자로 구성된 토큰을 선택합니다 (구두점은 완전히
# 무시되고 항상 토큰 구분자로 취급).


tfv = TfidfVectorizer(min_df=3,  max_features=None, 
            strip_accents='unicode', analyzer='word',token_pattern=r'\w{1,}',
            ngram_range=(1, 3),
            stop_words = 'english')

#빈 문자열로 NaN 채우기
df['model1'] = df['model1'].fillna('')

In [ ]:
# 새 행렬이 생성되고 모델이 여기에 맞춰지고 열도 명시됩니다.
tfv_matrix = tfv.fit_transform(df['model1'])

In [ ]:
# 벡터가있는 행렬이 생성됩니다.
tfv_matrix

<6234x26456 sparse matrix of type '<class 'numpy.float64'>'
	with 373561 stored elements in Compressed Sparse Row format>

In [ ]:
# 시그모이드 커널은 로지스틱 회귀에 사용됩니다.
# 우리는 곡선 bw 0과 1을 얻으므로 출력을 0과 1로 변환합니다.

from sklearn.metrics.pairwise import sigmoid_kernel
sig = sigmoid_kernel(tfv_matrix, tfv_matrix)

In [ ]:
sig[0]

array([0.76161003, 0.76159424, 0.76159432, ..., 0.76159435, 0.76159442,
       0.76159462])

In [ ]:
#제목 열이 인덱스로 설정되었습니다.
indices = pd.Series(df.index, index=df['title']).drop_duplicates()

In [ ]:
indices['Friends']

6233

In [ ]:
#이것은 친구를 위한 벡터입니다
sig[4799]

array([0.76159455, 0.76159478, 0.76159451, ..., 0.76159416, 0.76159515,
       0.76159456])

In [ ]:
def give_rec(title, sig=sig):
    # original_title에 해당하는 인덱스 가져 오기
    idx = indices[title]

    # pairwsie 유사성 점수 얻기 
    sig_scores = list(enumerate(sig[idx]))

    # 영화 정렬 
    sig_scores = sorted(sig_scores, key=lambda x: x[1], reverse=True)

    # 가장 유사한 10편의 영화 점수
    sig_scores = sig_scores[1:21]

    # 영화 지수
    movie_indices = [i[0] for i in sig_scores]

    # 가장 유사한 영화 Top 10
    return df['title'].iloc[movie_indices]

In [ ]:
give_rec(k)

5056                      Boyka: Undisputed
1759                      Only God Forgives
2299    Dead in a Week (Or Your Money Back)
4097                   The Art of the Steal
4358                              Backtrack
1151                   K-19: The Widowmaker
1005                            Outlaw King
3860                             The Prince
1729                              Limitless
5221                       American Odyssey
2137                          The Salvation
4377                         Jacob's Ladder
2319                                  Tyson
2036                              The Titan
3606                        Black Hawk Down
327                The Taking of Pelham 123
2717                             Bobbi Jene
4112                   Kickboxer: Vengeance
3510                    Final Destination 2
5298        Goosebumps 2: Haunted Halloween
Name: title, dtype: object

In [ ]:
case1=list(give_rec(k))

**출연진, 장르, 유형 (TV 프로그램 / 영화), 감독, 설명, 개봉 연도, 국가, 기간별 추천**

In [ ]:
case1

['Boyka: Undisputed',
 'Only God Forgives',
 'Dead in a Week (Or Your Money Back)',
 'The Art of the Steal',
 'Backtrack',
 'K-19: The Widowmaker',
 'Outlaw King',
 'The Prince',
 'Limitless',
 'American Odyssey',
 'The Salvation',
 "Jacob's Ladder",
 'Tyson',
 'The Titan',
 'Black Hawk Down',
 'The Taking of Pelham 123',
 'Bobbi Jene',
 'Kickboxer: Vengeance',
 'Final Destination 2',
 'Goosebumps 2: Haunted Halloween']

**CASE 2**

LISTED IN, Type

In [ ]:
df1.head(2)

                                     title  ...                                        description
0  Norm of the North: King Sized Adventure  ...  Before planning an awesome wedding for his gra...
1               Jandino: Whatever it Takes  ...  Jandino Asporaat riffs on the challenges of ra...

[2 rows x 11 columns]

In [ ]:
df1 = df1.replace(np.nan, '', regex=True)
df1['release_year'] = df1['release_year'].astype(str)
df1['duration'] = df1['duration'].astype(str)
df1['date_added'] = df1['date_added'].astype(str)

In [ ]:
df1["model1"] = df1["type"]+" "+ df1["listed_in"]

In [ ]:
df1=df1.iloc[:,[0,11]]
df.head()

                                     title                                             model1
0  Norm of the North: King Sized Adventure  Movie Richard Finn, Tim Maltby Alan Marriott, ...
1               Jandino: Whatever it Takes  Movie  Jandino Asporaat United Kingdom 2016 TV...
2                       Transformers Prime  TV Show  Peter Cullen, Sumalee Montano, Frank ...
3         Transformers: Robots in Disguise  TV Show  Will Friedle, Darren Criss, Constance...
4                             #realityhigh  Movie Fernando Lebrija Nesta Cooper, Kate Wals...

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer


tfv = TfidfVectorizer(min_df=3,  max_features=None, 
            strip_accents='unicode', analyzer='word',token_pattern=r'\w{1,}',
            ngram_range=(1, 3),
            stop_words = 'english')

# 빈 문자열로 NaN 채우기
df1['model1'] = df1['model1'].fillna('')

In [ ]:
tfv_matrix = tfv.fit_transform(df1['model1'])

In [ ]:
from sklearn.metrics.pairwise import sigmoid_kernel
sig = sigmoid_kernel(tfv_matrix, tfv_matrix)

In [ ]:
indices = pd.Series(df1.index, index=df1['title']).drop_duplicates()

In [ ]:
def give_rec(title, sig=sig):
    # Get the index corresponding to original_title
    idx = indices[title]

    # Get the pairwsie similarity scores 
    sig_scores = list(enumerate(sig[idx]))

    # Sort the movies 
    sig_scores = sorted(sig_scores, key=lambda x: x[1], reverse=True)

    # Scores of the 10 most similar movies
    sig_scores = sig_scores[1:21]

    # Movie indices
    movie_indices = [i[0] for i in sig_scores]

    # Top 10 most similar movies
    return df1['title'].iloc[movie_indices]

In [ ]:
give_rec(k)

5980                 The Andy Griffith Show
5987                               Episodes
6225                                Frasier
6233                                Friends
6094                    Pee-wee's Playhouse
5981    The Twilight Zone (Original Series)
5636                       The Walking Dead
6166                                Jericho
5787                           Supernatural
6072                    From Dusk Till Dawn
5585                                  Haven
1827                    Roswell, New Mexico
5704                              Star Trek
5705                  Star Trek: Enterprise
5982                             Twin Peaks
5639                        Toast of London
5699                             Still Game
5830                             Dad's Army
3390                   La Rosa de Guadalupe
5843                      Trailer Park Boys
Name: title, dtype: object

In [ ]:
case2=list(give_rec(k))

**장르, 유형별 추천 (TV 프로그램 / 영화)**

In [ ]:
case2

['The Andy Griffith Show',
 'Episodes',
 'Frasier',
 'Friends',
 "Pee-wee's Playhouse",
 'The Twilight Zone (Original Series)',
 'The Walking Dead',
 'Jericho',
 'Supernatural',
 'From Dusk Till Dawn',
 'Haven',
 'Roswell, New Mexico',
 'Star Trek',
 'Star Trek: Enterprise',
 'Twin Peaks',
 'Toast of London',
 'Still Game',
 "Dad's Army",
 'La Rosa de Guadalupe',
 'Trailer Park Boys']

#CASE8

Listed-in, description

In [ ]:
df7 = df7.replace(np.nan, '', regex=True)
df7['release_year'] = df7['release_year'].astype(str)
df7['duration'] = df7['duration'].astype(str)
df7['date_added'] = df7['date_added'].astype(str)
df7['model1'] = df7['description']+" "+df7['listed_in']
df7=df7.iloc[:,[0,11]]
df7.head(2)

                                     title                                             model1
0  Norm of the North: King Sized Adventure  Before planning an awesome wedding for his gra...
1               Jandino: Whatever it Takes  Jandino Asporaat riffs on the challenges of ra...

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfv = TfidfVectorizer(min_df=3, max_features=None,
                     strip_accents='unicode', analyzer='word', token_pattern=r'\w{1,}',
                     ngram_range=(1,3),
                     stop_words='english')

# NaNs를 빈 문자열로 채우기
df7['model1'] = df7['model1'].fillna('')

In [ ]:
tfv_matrix = tfv.fit_transform(df7['model1'])

In [ ]:
from sklearn.metrics.pairwise import sigmoid_kernel
sig = sigmoid_kernel(tfv_matrix, tfv_matrix)

indices = pd.Series(df7.index, index=df7['title']).drop_duplicates()

In [ ]:
def give_rec(title, sig=sig):
  # 오리지널 타이틀과 같은 인덱스 찾기
  idx = indices[title]

  # 쌍별 유사성 점수 얻기
  sig_scores = list(enumerate(sig[idx]))

  # 영화 정렬
  sig_scores = sorted(sig_scores, key=lambda x: x[1], reverse=True)

  # 가장 비슷한 10개 영화의 점수
  sig_scores = sig_scores[1:21]

  # 영화 제목
  movie_indices = [i[0] for i in sig_scores]

  # 가장 비슷한 영화 Top 10
  return df7['title'].iloc[movie_indices]

In [ ]:
give_rec(k)

4502            Luck by Chance
900                      Pizza
4042            Velvet Buzzsaw
4334                    Pusher
3914               Blood Money
4451                Soundtrack
5447                  Band Aid
2853               Dark Places
3317         Where's the Money
3560                    Sliver
2465              Step Outside
4028            Ninja Assassin
4183                     Bhoot
451               Private Life
4910                    Emelie
172     I Am Not Madame Bovary
1249                     Drive
4190                   Dhamaal
1173            Eye for an Eye
38         Kill Me If You Dare
Name: title, dtype: object